html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {

    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
    display: grid;
    place-content: center;
    margin: 0;

}

main {
    display: block;
}

.perfume {

    float: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 450px;
    width: 280px;
    margin: auto;

}

.box {

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    float: right;
    height: 400px;
    width: 240px;
    background-color: white;
    padding: 25px;
    margin: auto;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);

}

h2 {
    letter-spacing: 4px;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}

h1 {

    color: hsl(212, 21%, 14%);
    font-size: 35px;
    font-family: Fraunces;
    font-weight: 700;
    text-align: left;
    line-height: 35px;

}

p {

    font-size: 14px;
    font-weight: 500;
    font-family: Montserrat;
    color: hsl(228, 12%, 48%);
    line-height: 23px;

}

.price1 {

    font-weight: 700;
    text-shadow: hsl(158, 36%, 37%);
    color: hsl(158, 36%, 37%);
    font-size: 28px;
    font-family: Fraunces;

}

.price2 {

    font-size: 14px;
    font-weight: 700;
    font-family: Montserrat;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    margin-left: 15px;

}

.cart-box {
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    padding: 20px;
    height: 20px;
    width: 190px;
    text-align: center;
}

.cart-icon {
    height: 20px;
    margin-right: 5px;
    width: 20px;
    color: black;
}

.text-cart {
    text-align: center;
    margin-left: 5px;
    font-size: 14px;
    margin-bottom: 20px;
    height: 200;
    width: 200;
    color: white;
    font-weight: 700;
    font-family: Montserrat;

}



@font-face {

    font-family: Montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);

}

@font-face {

    font-family: Fraunces;
    src: url(Fraunces[SOFT,WONK,opsz,wght].ttf);

}